.app {
    height: 100vh;
}

.app .messageList {
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: scroll;
}

.app .messageList .message {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.app .messageList .message.message--partner {
    justify-content: flex-start;
}

.app .messageList .message .message__user {
    margin-right: 10px;
}

.app .messageList .message .message__user:after {
    content: ":";
}

.app .toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.app .toolbar .toolbar__input {
    padding: 10px;
    width: 20%;
}

.app .toolbar .messageInput {
    width: 40%;
}